# PHP
vendor/
composer.lock

# PHPUnit
phpunit.result.cache

# Docker
*.env
docker-compose.override.yml

# IDEs and editors
.vscode/
.idea/
*.swp

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Build output
build/
dist/

# Mac system files
.AppleDouble
.LSOverride

# Windows system files
Desktop.ini
$RECYCLE.BIN/
